.Row {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

.Label {
    color: white;

}

.rowMovies {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media only screen and (min-width: 579px) {

    .rowMovies {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Card {
        width: auto;
    }

}